.card-body
  .container.project-container
    .row
      .col-sm.project-status-container
        .project-status-title.text-muted
          = s_('Geo|Status')
        = project_registry_status(project_registry)
      .col-sm.project-status-container
        .project-status-title.text-muted
          = s_('Geo|Next sync scheduled at')
        .project-status-content
          - if project_registry.repository_retry_at
            = distance_of_time_in_words(Time.now, project_registry.repository_retry_at)
          - else
            = s_('Geo|Waiting for scheduler')
      .col-sm.project-status-container
        .project-status-title.text-muted
          = s_('Geo|Last sync attempt')
        .project-status-content
          - if project_registry.last_repository_synced_at
            = time_ago_with_tooltip(project_registry.last_repository_synced_at, placement: 'bottom')
          - else
            = s_('Geo|Never')
